.white-content {
  background: #e4e4e4;
}
:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
body{
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar{
  width: 0.25;
}
body::-webkit-scrollbar-track{
  background : #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #6649b8
}
main {
  margin-top: 5rem;
}
.content{
  padding-top: 6rem;
}
.navbar {
  width: 100vw;
  height: 5rem;
  position: fixed;

  background-color: var(--bg-secondary);
  justify-content: center;
  transition: height 300ms ease;
  
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar-item{
  width: 100%;
  
}
.navbar-item:last-child{
  margin-left: auto;
}

.nav-link{
  display: flex;
  justify-content: center;
  width: 5rem;
  color: var(--text-primary)
}

.navbar:hover{
  height: 6rem;
}
.navbar:hover .link-text{
  display: block;
}
.logo{
  font-weight:  bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);

  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.AgendaItem{
  text-align: center;
  background-color: #1B2845;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.AgendaList{
  margin-top: 2rem;
  margin-left: 3rem;
  letter-spacing: 0.3ch;

}

.dateBoarder{
  border-style: solid;
  justify-content: center;
}

.itemDate {
  font-weight:  bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  
}


.grid-agenda-item {
  display: grid;
  grid-template-columns: 400px 1fr ;
  grid-template-rows: 120px 1fr ;
  
}
.grid-agenda-item-child {
  
  display: grid;
  grid-template-columns: 120px 1fr ;

  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 25px;
  border-width: 2px;
}

.dateItem{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight:  bolder;

}

.summary-item{
  padding-top: 2rem;
}
.collapse-adjust {
  padding-left: 2rem;
  padding-top: 1rem;
}

.grid-login {
  display: grid;
  padding-top: 9rem;
  grid-template-columns: 1fr 400px 1fr ;
  grid-template-rows: 100px 400px 1fr ;
}
.grid-login-mid {
  display: grid;
  grid-template-rows: 300px 1fr ;
  background-color: var(--bg-secondary);
  border-radius: 25px;
  
}

.grid-main {
  display: grid;
  border-left: 5rem;
  grid-template-rows: 1fr 1fr ;

 
  background-color: var(--bg-primary);
  color: var(--text-secondary)
}


.grid-main-title {
 
  display: grid;
  
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr ;
  justify-self: center;

  align-self: center;
  


}
.mainTitle {

  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  
  letter-spacing: -0.2cm;
  
}
.subTitle {
  font-size: 1.2rem;
}

.grid-main-desc{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr ;

}

.gird-main-desc-item{
  padding-left:1rem;
   border-style: solid;
   border-width:2px; 

   background-color: var(--bg-primary);
   color: var(--text-primary)
}